In [2]:
import pandas as pd

In [3]:
day1 = pd.read_csv('D:\大论文\myCode\data\day_data\day_1',
                       names=[
                           'pickup_datetime', 'dropoff_datetime',
                           'pickup_longitude', 'pickup_latitude',
                           'dropoff_longitude', 'dropoff_latitude', 'O', 'D',
                           'duration', 'weekday', 'day', 'hour'
                       ])

In [4]:
# day1 = day1.sort_values(['pickup_datetime', 'dropoff_datetime'])
day1

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,O,D,duration,weekday,day,hour
0,2014-01-01 02:48:45,2014-01-01 02:53:00,-73.998950,40.754616,-73.988700,40.769066,1611,1992,255,2,1,2
1,2014-01-01 10:49:49,2014-01-01 10:56:51,-73.981400,40.728832,-73.997870,40.716984,871,392,422,2,1,10
2,2014-01-01 16:30:27,2014-01-01 16:35:26,-73.998320,40.713634,-74.008965,40.712360,239,235,299,2,1,16
3,2014-01-01 11:05:38,2014-01-01 11:11:05,-73.984640,40.748173,-73.981865,40.736668,1450,1121,327,2,1,11
4,2014-01-01 01:35:55,2014-01-01 01:54:07,-73.987390,40.719975,-73.987500,40.760387,526,1767,1092,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
308624,2014-01-01 14:12:08,2014-01-01 14:16:53,-73.976430,40.748222,-73.961880,40.767870,1445,1968,285,2,1,14
308625,2014-01-01 03:53:02,2014-01-01 04:06:56,-73.990300,40.772026,-73.978546,40.741140,2063,1246,834,2,1,3
308626,2014-01-01 05:14:24,2014-01-01 05:16:58,-73.976715,40.727116,-73.982560,40.724865,815,686,154,2,1,5
308627,2014-01-01 14:37:17,2014-01-01 14:42:52,-74.002556,40.748722,-74.005750,40.745487,1473,1345,335,2,1,14
308628,2014-01-01 01:04:58,2014-01-01 01:11:29,-73.973400,40.743880,-73.985504,40.731518,1314,966,391,2,1,1

In [6]:
day1[day1['hour'] == 0].to_csv('D:\大论文\myCode\data\day_data_sorted\day_1_0h.csv', index=False)

In [10]:
for i in range(24):
    data = day1[day1['hour'] == i]
    data_O = data[['pickup_datetime', 'pickup_longitude', 'pickup_latitude']]
    data_D = data[['dropoff_datetime', 'dropoff_longitude', 'dropoff_latitude']]
    data_O.to_csv(f'D:\大论文\myCode\data\day_data_for_cube\O\day_1_{i}h_O.csv', index=False)
    data_D.to_csv(f'D:\大论文\myCode\data\day_data_for_cube\D\day_1_{i}h_D.csv', index=False)

In [1]:
## OD 下面这种做法不行 得做一个OD 的集计
# day1.to_csv('D:\大论文\myCode\data\day_data_OD\day_1.csv', index=False)

In [13]:
day1_OD = day1.groupby(['O', 'D']).count()['hour']

In [ ]:
day1_OD.to_csv('D:\大论文\myCode\data\day_data_OD\day_1_OD.csv')

In [16]:
day1_OD = pd.read_csv('D:\大论文\myCode\data\day_data_OD\day_1_OD.csv')

           O     D  hour
0          0    76     1
1          0   720     1
2          0  1487     1
3          0  1647     1
4          0  1670     1
...      ...   ...   ...
269657  4013  3189     1
269658  4013  3216     1
269659  4013  3626     1
269660  4013  3646     1
269661  4013  3664     1

[269662 rows x 3 columns]

In [17]:
# 交叉口经纬度数据读取
coordata = pd.read_csv('./data/nodes_lonlat.csv', header=None)

In [20]:
day1_OD['O_lng'] = day1_OD['O'].apply(lambda x:coordata[0][x])
day1_OD['O_lat'] = day1_OD['O'].apply(lambda x:coordata[1][x])
day1_OD['D_lng'] = day1_OD['D'].apply(lambda x:coordata[0][x])
day1_OD['D_lat'] = day1_OD['D'].apply(lambda x:coordata[1][x])

In [22]:
day1_OD.to_csv('D:\大论文\myCode\data\day_data_OD\day_1.csv', index=False)