In [1]:
import pandas as pd

## 1. 读取数据
此处读取为2014年1月数据

In [2]:
data = pd.read_csv('./data/tripdata/yellow_tripdata_2014-01.csv')

In [3]:
df = data[['pickup_datetime', 'dropoff_datetime', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']]

In [4]:
df

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2014-01-09 20:45:25,2014-01-09 20:52:31,-73.994770,40.736828,-73.982227,40.731790
1,2014-01-09 20:46:12,2014-01-09 20:55:12,-73.982392,40.773382,-73.960449,40.763995
2,2014-01-09 20:44:47,2014-01-09 20:59:46,-73.988570,40.739406,-73.986626,40.765217
3,2014-01-09 20:44:57,2014-01-09 20:51:40,-73.960213,40.770464,-73.979863,40.777050
4,2014-01-09 20:47:09,2014-01-09 20:53:32,-73.995371,40.717248,-73.984367,40.720524
...,...,...,...,...,...,...
13782487,2014-01-06 13:12:00,2014-01-06 13:34:00,-73.993977,40.751317,-73.960392,40.811585
13782488,2014-01-06 13:22:00,2014-01-06 13:36:00,-73.986945,40.736702,-73.998535,40.739857
13782489,2014-01-06 13:32:00,2014-01-06 13:35:00,-73.974737,40.742057,-73.977228,40.746112
13782490,2014-01-06 13:31:00,2014-01-06 13:34:00,-73.975580,40.759062,-73.983370,40.756030
13782491,2014-01-06 13:25:00,2014-01-06 13:34:00,-73.944337,40.791930,-73.954465,40.779110

In [5]:
len_df = len(df)

## 2. 去除空值

In [6]:
df.dropna(axis=0, how='any', inplace=True)

In [7]:
len(df), len_df - len(df)

(13782347, 145)

In [9]:
df.to_csv('./data/use_yellow_tripdata_2014-01.csv', index=False, header=None)