In [1]:
import pandas as pd

In [2]:
hour_0 = pd.read_csv('./data/hour_data/hour_0', names=['pickup_datetime', 'dropoff_datetime', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'O', 'D', 'duration', 'weekday', 'day', 'hour'])

In [3]:
hour_0

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,O,D,duration,weekday,day,hour
0,2014-01-18 00:31:37,2014-01-18 00:39:34,-73.987920,40.732277,-73.985596,40.723335,1002,659,477,5,18,0
1,2014-01-18 00:16:07,2014-01-18 00:30:48,-73.991660,40.759937,-73.985460,40.731808,1740,966,881,5,18,0
2,2014-01-18 00:53:17,2014-01-18 01:00:17,-74.001236,40.736600,-73.992430,40.741120,1114,1296,420,5,18,0
3,2014-01-18 00:12:15,2014-01-18 00:20:33,-73.983090,40.766586,-73.975700,40.751980,1933,1555,498,5,18,0
4,2014-01-18 00:35:24,2014-01-18 00:55:45,-73.997680,40.716854,-73.964540,40.802050,392,2846,1221,5,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...
368451,2014-01-18 00:10:44,2014-01-18 00:12:59,-74.002686,40.733936,-74.004654,40.725746,1032,765,135,5,18,0
368452,2014-01-17 00:59:50,2014-01-17 01:05:35,-73.947330,40.779970,-73.942726,40.801640,2278,2874,345,4,17,0
368453,2014-01-17 00:10:34,2014-01-17 00:15:29,-73.975540,40.761130,-73.975980,40.755540,1791,1644,295,4,17,0
368454,2014-01-19 00:55:18,2014-01-19 00:57:22,-73.994500,40.767420,-73.985596,40.763676,1928,1834,124,6,19,0
368455,2014-01-17 00:06:15,2014-01-17 00:21:27,-73.983200,40.755993,-74.008670,40.719612,1660,495,912,4,17,0

In [4]:
hour_0_mean_OD_duration = pd.DataFrame(hour_0.groupby(['O', 'D'])['duration'].mean())

In [5]:
# hour_0_mean_OD_duration.index
# hour_0_mean_OD_duration.duration.values

In [6]:
# import os
# os.makedirs('./data/hour_mean_OD_duration_data')

In [7]:
hour_0_mean_OD_duration.to_csv('./data/hour_mean_OD_duration_data/hour_0_mean_OD_duration.csv')
# hour_0_mean_OD_duration.to_csv('./data/hour_mean_OD_duration_data/hour_0_mean_OD_duration.csv', header=None)

In [28]:
# df = pd.read_csv('./data/hour_mean_OD_duration_data/hour_0_mean_OD_duration.csv')